/* Buttons Layout */

.button-base {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 10%;
    border: 1px solid black;
    transition: transform .3s;
    filter: contrast(20%);
}

.red-button {
    background-color: red;
    top: 80px;
}

.green-button {
    background-color: rgb(28, 238, 28);
    top: 80px;
    left: 600px;
}

.white-button {
    background-color: white;
    top: 230px;
    left: 350px;
}

.blue-button {
    background-color: rgb(28, 202, 255);
    top: 380px;
}

.yellow-button {
    background-color: yellow;
    top: 380px;
    left: 600px;
}

.button-start {
    position: absolute;
    top: 300px;
    right: 300px;
}

/* Buttons Effects */

.button-base:hover {
    transform: scale(1.1);
}